@import "../../breakpoints.scss";
@import "../../scss/variables.scss";

.edit-profile-container {
  padding-bottom: 2rem 0;

  .edit-profile-div {
    background-color: #fff;
    width: clamp(300px, 80%, 950px);
    min-height: 800px;
    border: 1px solid $margin-grey;
    border-radius: 0.25rem;

    @include medium {
      flex-direction: row;
    }

    .edit-profile-sidebar {
      border-bottom: 1px solid $margin-grey;
      @include medium {
        flex-direction: column;
        border-right: 1px solid $margin-grey;
        border-bottom: none;
      }

      div {
        padding: 16px;
        min-height: 50px;
        cursor: pointer;
        position: relative;
        transition: width ease-in-out 0.3s;

        @include medium {
          width: 180px;
          padding: 16px 16px 16px 30px;
        }

        @include large {
          width: 240px;
        }

        &:hover {
          background-color: $background-grey;

          @include medium {
            border-left: 2px solid $margin-grey;
          }
        }

        span {
          font-size: $font-medium;
        }

        &.active {
          font-weight: bold;
          border-bottom: 1px solid black;

          @include medium {
            border-bottom: none;
            border-left: 2px solid black;
          }
        }
      }
    }
  }

  .edit-profile-body {
    flex-grow: 1;
    padding: 20px;

    @include small {
      margin-right: 60px;
      padding: 0;
    }

    .user-error-div,
    .user-confirmation-div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .user-error-div {
      color: $error-red;
    }

    .user-success-div {
      color: $success-green;
    }

    .user-info {
      margin-top: 32px;

      .profile-img-div {
        overflow: hidden;
        margin-right: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include small {
          margin-left: 124px;
        }

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
        }

        img {
          width: 38px;
          height: 38px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .user-info-right {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
          background-color: transparent;
          border: none;
          font-size: 14px;
          cursor: pointer;
          font-weight: bold;
          color: #0095f6;
        }

        form {
          height: 0px;
          flex-shrink: 1;
        }
      }
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;

      .form-row {
        display: flex;
        flex-direction: column;
        margin: 16px 0;

        @include small {
          flex-direction: row;
        }

        .form-left {
          font-weight: bold;
          font-size: 15px;
          margin-top: 5px;
          margin-bottom: 5px;

          @include small {
            flex: 0 0 194px;
            padding-left: 32px;
            padding-right: 32px;
            text-align: right;
            margin-bottom: 0;
          }
        }

        .form-right {
          display: flex;
          flex-direction: column;

          @include small {
            flex-basis: 355px;
          }

          input {
            border: 1px solid #cccccc;
            font-size: 16px;
            padding: 0 10px;
            height: 32px;
            border-radius: 0.25rem;

            &:disabled {
              cursor: not-allowed;
            }
          }

          textarea {
            resize: vertical;
            border: 1px solid #cccccc;
            font-size: 16px;
            height: 60px;
            padding: 6px 10px;
            border-radius: 0.25rem;
          }

          .form-information {
            font-size: 12px;
            color: #8e8e8e;
            margin-top: 5px;

            p {
              margin-bottom: 5px;
            }
          }

          .personal-information-disclaimer {
            margin-bottom: -22px;

            h2 {
              font-size: 14px;
            }
          }
        }
      }
      .button-div {
        .button-div-right {
          display: flex;

          @include small {
            margin-left: 194px;
          }

          .submit-button {
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
            color: white;
            background-color: #0095f6;
            padding: 7px 16px;
            border: none;
            border-radius: 0.5rem;

            &:hover {
              background-color: #1877f2;
            }
          }

          .extra-button-div {
            display: flex;
            align-items: center;
            justify-content: center;
            .extra-button {
              cursor: pointer;
              font-size: 14px;
              font-weight: bold;
              color: #0095f6;
              border: none;
              background-color: transparent;
              margin-left: 100px;

              &:hover {
                color: black;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    align-items: center;
  }
}
