@import "../../breakpoints.scss";

.edit-profile-container {
  width: 100%;
  margin-top: 60px;

  @include small {
    margin-top: 0px;
  }

  .edit-profile-div {
    margin: 30px auto 0;
    display: flex;
    flex: 1;
    background-color: #fff;
    width: 100%;
    max-width: 930px;
    min-height: max(700px, 90vh);
    border: 1px solid #cccccc;
    border-radius: 0.25rem;

    .edit-profile-sidebar {
      min-height: 100%;
      border-right: 1px solid #cccccc;
      display: flex;
      flex-direction: column;

      &:hover {
        div {
          transition: width 0.3s ease-in;
          width: 180px;
          span {
            display: block;
          }
        }
      }

      @include small {
        &:hover {
          div {
            width: 236px;
          }
        }
      }

      div {
        transition: width 0.3s ease-in;
        padding: 16px 16px 16px 30px;
        width: 25px;
        min-height: 50px;
        border-left: 2px solid transparent;
        cursor: pointer;
        position: relative;

        &:hover {
          background-color: #fafafa;
          border-left-color: #cccccc;
        }

        span {
          display: none;
          font-size: 0.9rem;

          @include small {
            display: block;
          }
        }

        @include small {
          width: 236px;
        }

        &.active {
          font-weight: bold;
          border-left-color: black;
        }
      }
    }
  }

  .edit-profile-body {
    flex-grow: 1;
    padding: 0 20px;

    @include small {
      margin-right: 60px;
      padding: 0;
    }
    .user-msg-div {
      display: none;

      &.active {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }

      .user-error-div {
        display: none;

        &.active {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 5px;
          color: red;
        }
      }

      .user-confirmation-div {
        display: none;

        &.active {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 5px;
          color: green;
        }
      }
    }

    .user-info {
      display: flex;
      margin-top: 32px;

      .profile-img-div {
        overflow: hidden;
        margin-right: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include small {
          margin-left: 124px;
        }

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
        }

        img {
          width: 38px;
          height: 38px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .user-info-right {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
          background-color: transparent;
          border: none;
          font-size: 14px;
          cursor: pointer;
          font-weight: bold;
          color: #0095f6;
        }

        form {
          height: 0px;
          flex-shrink: 1;
        }
      }
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;

      .form-row {
        display: flex;
        flex-direction: column;
        margin: 16px 0;

        @include small {
          flex-direction: row;
        }

        .form-left {
          font-weight: bold;
          font-size: 15px;
          margin-top: 5px;
          margin-bottom: 5px;

          @include small {
            flex: 0 0 194px;
            padding-left: 32px;
            padding-right: 32px;
            text-align: right;
            margin-bottom: 0;
          }
        }

        .form-right {
          display: flex;
          flex-direction: column;

          @include small {
            flex-basis: 355px;
          }

          input {
            border: 1px solid #cccccc;
            font-size: 16px;
            padding: 0 10px;
            height: 32px;
            border-radius: 0.25rem;

            &:disabled {
              cursor: not-allowed;
            }
          }

          textarea {
            resize: vertical;
            border: 1px solid #cccccc;
            font-size: 16px;
            height: 60px;
            padding: 6px 10px;
            border-radius: 0.25rem;
          }

          .form-information {
            font-size: 12px;
            color: #8e8e8e;
            margin-top: 5px;
          }

          .personal-information-disclaimer {
            margin-bottom: -22px;

            h2 {
              font-size: 14px;
            }
          }
        }
      }
      .button-div {
        .button-div-right {
          display: flex;

          @include small {
            margin-left: 194px;
          }

          .submit-button {
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
            color: white;
            background-color: #0095f6;
            padding: 7px 16px;
            border: none;
            border-radius: 0.5rem;

            &:hover {
              background-color: #1877f2;
            }
          }

          .extra-button-div {
            display: flex;
            align-items: center;
            justify-content: center;
            .extra-button {
              cursor: pointer;
              font-size: 14px;
              font-weight: bold;
              color: #0095f6;
              border: none;
              background-color: transparent;
              margin-left: 100px;

              &:hover {
                color: black;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    align-items: center;
  }
}
