.post-card-container {
  aspect-ratio: 1 / 1;
  max-width: min(293px, 30%);
  // min-width: 196px;
  // height: 293px;
  flex: 1 1 30%;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  .post-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .hover-div {
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);

    .delete-btn-div,
    .tag-user-btn-div {
      .delete-btn,
      .tag-user-btn {
        position: absolute;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 9;

        img {
          width: 24px;
        }
      }

      .delete-btn {
        top: 5px;
        left: 5px;
      }

      .tag-user-btn {
        top: 5px;
        right: 5px;
      }
    }

    .icon-div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      gap: 25px;
      z-index: 5;

      .icon-row {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 14px;
        color: white;
        font-weight: bold;

        img {
          width: 24px;
          filter: invert(100%) sepia(6%) saturate(23%) hue-rotate(161deg)
            brightness(106%) contrast(106%);
        }
      }
    }

    .background {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  &:hover {
    .hover-div {
      display: block;
    }
  }

  .delete-confirmation-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    border-radius: 0.5rem;
    background-color: #fff;
    width: 300px;
    overflow: hidden;
    cursor: default;

    .delete-confirmation-body {
      width: 100%;
      height: 100%;
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h4 {
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
      }

      .button-div {
        display: flex;
        gap: 15px;

        button {
          padding: 7px 16px;
          border-radius: 0.5rem;
          border: none;
          font-size: 0.85rem;
          font-weight: bold;
          color: black;
          background-color: #efefef;
          cursor: pointer;

          &:hover {
            background-color: #dbdbdb;
          }

          &.delete {
            background-color: #0095f6;
            color: #fff;

            &:hover {
              background-color: #1877f2;
            }
          }
        }
      }
    }
  }

  .delete-confirmation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: all;
    cursor: default;
    z-index: 13;
  }
}
