@import "../../breakpoints.scss";

.userfeed-main {
  display: flex;
  justify-content: center;
  flex: 1;

  @include small {
    margin-left: 75px;
    margin-bottom: 0;
  }

  @include large {
    margin-left: 245px;
  }
}
