@import "../../breakpoints.scss";

.userfeed-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  .userfeed-main {
    display: flex;
    justify-content: center;
    flex: 1;

    @include small {
      margin-left: 75px;
    }

    @include large {
      margin-left: 245px;
    }
  }

  @include small {
    margin-bottom: 0;
  }

  // & > * {
  //   flex: 1;
  // }
}
