.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .login-top,
  .login-bottom {
    padding: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #cccccc;
  }

  .login-top {
    .login-logo {
      width: 175px;
      margin: 2rem 0;
    }

    .error-div {
      color: red;
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .sign-up-header {
      font-size: 17px;
      color: #8e8e8e;
      width: 250px;
      margin-bottom: 1rem;
    }

    .login-google-button {
      margin: 10px 0;
      background-color: #0099ff;
      color: white;
      font-weight: bold;
      padding: 10px 0;
      width: 260px;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: #1877f2;
      }
    }

    .sign-up-form {
      margin-top: 0.5rem;
    }

    .login-form,
    .sign-up-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      input {
        width: 260px;
        padding: 10px 5px;
        background-color: #fafafa;
        border: 1px solid #cccccc;
        border-radius: 0.25rem;
        margin-bottom: 5px;
        font-family: inherit;
      }

      .form-input-div {
        position: relative;
        width: 260px;
        height: 36px;
        border: 1px solid #cccccc;
        border-radius: 0.25rem;
        margin-bottom: 5px;
        display: flex;

        label {
          flex: 1;
          .label-text {
            color: #8e8e8e;
            font-size: 0.8rem;
            position: absolute;
            left: 8px;
            right: 0;
            height: 36px;
            vertical-align: baseline;
            line-height: 36px;
            pointer-events: none;
            transform-origin: left;
            transition: transform ease-out 0.1s;
            font-family: inherit;
          }

          input {
            width: 100%;
            height: 100%;
            padding: 14px 0 2px 8px;
            border: none;
            outline: none;
            font-size: 0.8rem;
            font-family: inherit;
          }
        }

        .input-side-div {
          background-color: #fafafa;
          padding: 0 8px;
          display: none;
          align-items: center;
          justify-content: center;
          button {
            padding: 0;
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: black;
            font-weight: bold;
            &:hover {
              color: #262626;
              opacity: 0.5;
            }
          }

          .icon {
            display: none;
            height: 22px;
            width: 22px;
          }
        }

        &.clicked {
          border-color: #a8a8a8;
        }

        &.active {
          label {
            .label-text {
              transform: scale(calc(10 / 12)) translateY(-10px);
            }
          }

          .input-side-div {
            display: flex;
          }
        }
        &.display-icon {
          .icon {
            display: block;
          }
        }
      }

      .submit-button {
        margin: 10px 0;
        background-color: #0099ff;
        color: white;
        font-weight: bold;
        padding: 7px 16px;
        width: 260px;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        &:hover {
          background-color: #1877f2;
        }
      }

      .loading-spinner-div {
        transform: scale(0.5);
        height: 50px;
        display: flex;
        align-items: center;
      }
    }

    .or-div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5rem;

      .line {
        width: 105px;
        height: 1px;
        background-color: #8e8e8e;
        opacity: 0.7;
      }

      .or-lettering {
        margin: 0 18px;
        color: #8e8e8e;
      }
    }

    .login-google {
      margin-top: 20px;
    }

    .forgot-password {
      margin: 20px;
    }
  }

  .login-bottom {
    p {
      font-size: 14px;
      margin: 15px;
    }

    a {
      text-decoration: none;
      color: #0099ff;
      font-weight: bold;
    }
  }
}
