@import "../../breakpoints.scss";
@import "../../scss/global.scss";
@import "../../scss/variables.scss";

.tag-users-modal-container {
  z-index: 15;
  border-radius: 0.5rem;
  background-color: #fff;
  width: 90%;
  height: 450px;
  overflow: hidden;
  cursor: default;

  @include x-small {
    width: 400px;
  }

  .tag-users-modal-body,
  .check-tagged-users-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .modal-header {
      width: 100%;
      min-height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid $margin-grey;
      color: #000;

      button {
        background-color: transparent;
        border: none;
      }

      div {
        flex: 1;
      }

      .header-text-div {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
          font-size: $font-medium;
        }
      }

      .header-btn-div {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
          background-color: transparent;
          margin-right: 10px;
          font-size: $font-medium;
          font-weight: bold;
          color: $button-blue;
        }

        &.close-div {
          button {
            font-size: 2rem;
            color: black;
            font-weight: 400;
          }
        }

        &.left {
          justify-content: flex-start;
          button {
            margin-left: 10px;
            margin-right: 0;
          }
        }
      }

      .cancel-div {
        button {
          margin-left: 10px;
        }
      }
    }

    .user-search {
      padding: 1rem 0;
      border-bottom: 1px solid $margin-grey;

      label {
        input {
          padding: 3px 16px;
          background-color: transparent;
          border: none;
          outline: none;
        }
      }
    }

    .search-results {
      overflow-y: auto;
      padding: 1rem 0;

      .search-result {
        padding: 8px 16px;
        cursor: pointer;

        &:hover {
          background-color: $background-grey-highlighted;
        }

        &.highlight {
          background-color: $background-grey-highlighted-dark;
        }

        .profile-picture {
          margin-right: 12px;

          img {
            height: 44px;
            width: 44px;
          }
        }

        .right-display {
          justify-content: space-between;

          .userinfo-div {
            .username {
              font-weight: bold;
              font-size: $font-medium;
              margin-bottom: 4px;
            }
            .fullname {
              color: $content-grey;
              font-size: $font-medium;
            }
          }

          .button-div {
            button {
              border: none;
              border-radius: 0.5rem;
              padding: 7px 16px;
              font-size: $font-medium;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .check-tagged-users-body {
    .user-list {
      overflow-y: auto;

      .individual-user {
        padding: 8px 16px;
        justify-content: space-between;
        cursor: pointer;

        .individual-user-left {
          .profile-picture {
            margin-right: 12px;

            img {
              height: 44px;
              width: 44px;
            }
          }

          .userinfo-div {
            a {
              text-decoration: none;
              color: black;
            }

            .username {
              font-weight: bold;
              font-size: $font-medium;
              margin-bottom: 4px;
            }
            .fullname {
              color: $content-grey;
              font-size: $font-medium;
            }
          }
        }
      }
    }
  }
}
