input {
  &.password-input {
    background-color: #fafafa;
    padding: 4px 12px;
  }
}

.button-div-right {
  &.password {
    flex-direction: column;

    .submit-button {
      opacity: 0.7;
      margin-bottom: 16px;
      cursor: default !important;

      &:hover {
        background-color: #0095f6 !important;
      }

      &.active {
        opacity: 1;
        cursor: pointer !important;
        &:hover {
          background-color: #1877f2 !important;
        }
      }
    }
    .extra-button-div {
      justify-content: flex-start !important;

      .extra-button {
        margin-left: 0 !important;
      }
    }
  }
}
