@import "../../breakpoints.scss";

.profile-page-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .profile-main {
    flex: 1;

    @include small {
      margin-left: 75px;
    }

    @include large {
      margin-left: 245px;
    }
  }
}
