@import "../../breakpoints.scss";

.chats-page-container {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  @include small {
    height: 100vh;
    margin-bottom: 0;
  }

  .chats-main {
    flex: 1;
    height: 100%;

    @include small {
      margin-left: 75px;
    }

    @include large {
      margin-left: 245px;
    }
  }
}
