@import "../../breakpoints.scss";

.navbar-container-bottom {
  position: fixed;
  width: 100vw;
  height: 50px;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  z-index: 10;
  border-top: 1px solid #cccccc;

  @include small {
    display: none;
  }

  .navbar-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 4px 0;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;

    .navbar-line {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    a {
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: black;
    }

    img {
      height: 24px;
      max-width: 24px;
      transform: scale(1);
    }

    span {
      padding-left: 16px;
    }

    &:hover {
      background-color: #fafafa;
      img {
        transform: scale(1.1);
        transition: transform 200ms ease-in;
      }
    }
  }
}

.navbar-container-side {
  display: none;
  position: fixed;
  height: 100vh;
  border-right: 1px solid #cccccc;
  background-color: #fff;
  z-index: 4;

  @include small {
    display: block;
  }

  .search-body {
    display: none;
    width: 0;
    transition: width 0.5s;

    @include small {
      display: block;
    }
  }

  .navbar-body {
    width: 73px !important;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @include large {
      width: 245px !important;
    }

    .navbar-top,
    .navbar-bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      padding: 15px;

      .navbar-header {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 13px 0;
        cursor: pointer;

        a {
          margin: 4px 0;
          padding: 12px;
          border-radius: 50%;
          img {
            width: 24px;
          }
          .text-logo {
            display: none;
          }

          &:hover {
            background-color: #fafafa;
            img {
              transform: scale(1.1);
              transition: transform 200ms ease-in;
            }
          }
        }

        @include large {
          display: block;
          padding: 25px 12px;
          margin-bottom: 10px;
          border-radius: 2rem;

          a {
            margin: 0;
            padding: 0;
            img {
              width: 103px;
            }
            .image-logo {
              display: none;
            }
            .text-logo {
              display: block;
            }

            &:hover {
              background-color: #fff;
              img {
                transform: none;
              }
            }
          }
        }
      }

      .navbar-row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 4px 0;
        padding: 12px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        cursor: pointer;

        @include large {
          border-radius: 2rem;
        }

        .navbar-line {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;

          span {
            display: none;
          }

          @include large {
            justify-content: flex-start;

            span {
              display: block;
            }
          }
        }

        a {
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: black;
        }

        img {
          height: 24px;
          max-width: 24px;
          transform: scale(1);
        }

        span {
          padding-left: 16px;
        }

        &:hover {
          background-color: #fafafa;
          img {
            transform: scale(1.1);
            transition: transform 200ms ease-in;
          }
        }
      }
    }

    .navbar-bottom {
      position: relative;
      .navbar-row {
        margin-bottom: 20px;
      }

      .navbar-menu {
        position: absolute;
        top: -5rem;
        display: none;
        flex-direction: column;
        box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.19);
        width: 98%;
        border-radius: 0.5rem;
        overflow: hidden;
        z-index: 5;

        .menu-line {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          border-bottom: 1px solid #dbdbdb;
          background-color: #fff;

          a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: black;
          }

          img {
            height: 24px;
            max-width: 24px;
            transform: scale(1);
          }

          &:hover {
            background-color: #fafafa;
            img {
              transform: scale(1.1);
              transition: transform 200ms ease-in;
            }
          }
        }

        &.active {
          display: flex;
        }

        &:last-child {
          border-bottom: none;
        }
      }
      .navbar-menu-close-field {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -100;

        &.active {
          display: block;
        }
      }
    }
  }

  &.searchActive {
    display: flex;
    border-radius: 0 16px 16px 0;
    overflow: hidden;

    .navbar-body {
      width: 73px !important;
      border-right: 1px solid #cccccc;

      .navbar-header {
        display: flex;
        justify-content: center;
        padding: 13px 0;
        a {
          margin: 4px 0;
          padding: 12px;
          border-radius: 2rem;
          img {
            width: 24px;
          }
          .text-logo {
            display: none;
          }
          .image-logo {
            display: block;
          }

          &:hover {
            background-color: #fafafa;
            img {
              transform: scale(1.1);
              transition: transform 200ms ease-in;
            }
          }
        }
      }

      .navbar-row {
        .navbar-line {
          justify-content: center;
          span {
            display: none;
          }
        }
      }
    }

    .search-body {
      display: block;
      width: 400px;
      height: 100%;
      background-color: #fff;

      .search-top {
        border-bottom: 1px solid #cccccc;
        .search-header-div {
          padding: 12px 14px 36px 24px;
          margin: 8px 0;
        }

        .search-input-div {
          margin: 0 16px;
          border-radius: 0.5rem;
          height: 40px;
          margin-bottom: 24px;
          background-color: #efefef;
          display: flex;
          align-items: center;

          label {
            flex-grow: 1;

            input {
              width: 100%;
              padding: 3px 16px;
              background-color: transparent;
              border: none;
              outline: none;
            }
          }

          .input-btn-div {
            padding-right: 16px;
            button {
              background-color: transparent;
              border: none;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 20px;
              }
            }
          }
        }
      }

      .search-bottom {
        flex-grow: 1;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        a {
          text-decoration: none;
          color: black;
        }

        .search-result {
          padding: 8px 16px;
          display: flex;
          align-items: center;
          cursor: pointer;

          &:hover {
            background-color: #f5f5f5;
          }

          .profile-picture {
            margin-right: 12px;
            display: flex;
            align-items: center;

            img {
              height: 44px;
              width: 44px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .userinfo-div {
            height: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .username {
              font-weight: bold;
              font-size: 0.9rem;
              margin-bottom: 4px;
            }
            .fullname {
              color: #8e8e8e;
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}
