@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

.app-container {
    background-color: #fafafa;
    min-height: 100vh;
    min-height: 100svh;
    /* width: 100%; */
    display: flex;
    flex-grow: 1;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.flex-grow {
    flex-grow: 1;
  }
  
  .flex-container {
    display: flex;
  }
  
  .flex-justify-center {
    justify-content: center;
  }
  
  .flex-justify-between {
    justify-content: space-between;
  }
  
  .flex-align-center {
    align-items: center;
  }
  
  .flex-column {
    flex-direction: column;
  }