@import "../breakpoints.scss";
@import "./variables.scss";

.options-modal-container {
  z-index: 20;
  border-radius: 0.5rem;
  background-color: #fff;
  overflow: hidden;

  @include x-small {
    width: 400px;
  }

  .options-modal-body {
    .select-option-div {
      border-bottom: 1px solid $margin-grey;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      button {
        background-color: transparent;
        border: none;
        font-size: 0.9rem;
        width: 100%;
        height: 100%;
        padding: 1rem 0;
      }

      .report-button {
        color: $error-red;
        font-weight: bold;
      }
    }
  }
}

.options-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: all;
  cursor: default;
  z-index: 16;
}
