@import "./variables.scss";
@import "../breakpoints.scss";

.delete-account-modal-container {
  border: 1px solid $margin-grey;
  border-radius: 0.5rem;
  z-index: 15;
  background-color: #fff;
  height: 90vh;
  height: 85svh;

  @include small {
    width: clamp(300px, 80%, 700px);
    height: clamp(300px, 70%, 600px);
    min-height: 300px;
    min-width: 300px;
  }

  .modal-header {
    padding: 10px;
    border-bottom: 0.5px solid $margin-grey;
    h2 {
      font-size: $font-large;

      @include mobile-large {
        font-size: $header-xxsmall;
      }
    }
  }

  .modal-body {
    padding: 10px 50px;

    h3 {
      display: none;

      @include mobile-medium {
        display: block;
        font-size: $header-xxsmall;
      }

      @include mobile-large {
        font-size: $header-xsmall;
      }
    }

    .user-msg-container {
      .error-msg {
        color: $error-red;
        margin-bottom: 10px;
      }

      .confirmation-msg {
        color: $success-green;
        margin-bottom: 10px;
      }
    }

    .modal-confirmation {
      form {
        margin-top: 1.5rem;
        color: $content-grey;
        padding-bottom: 0;

        .larger-text {
          font-size: 1rem;
          font-weight: bold;
          color: $content-grey;
        }

        .fine-print-div {
          height: 5rem;
          overflow-y: scroll;
          border: 1px solid $margin-grey;
          border-radius: 0.25rem;
          padding: 5px 10px;

          span {
            font-size: $font-small;
            color: $content-grey;
          }
        }

        .agree-label {
          .agree-checkbox {
            margin-right: 5px;
            cursor: pointer;
          }
        }

        .confirmation-div {
          .confirmation-prompt {
            font-size: $font-medium;
            color: black;
            margin-bottom: 1rem;
          }

          input {
            border: 1px solid $margin-grey;
            font-size: 16px;
            padding: 0 10px;
            height: 32px;
            border-radius: 0.25rem;
          }
        }

        .button-div {
          margin-top: 1rem;
        }

        .delete-loading-div {
          .loading-spinner-div {
            transform: scale(0.5);
            height: 50px;
          }

          p {
            font-size: 0.9rem;
            color: black;
          }
        }
      }
    }
  }
}
