@import "./variables.scss";
@import "../breakpoints.scss";

.follow-user-modal-container {
  z-index: 15;
  overflow: hidden;
  border-radius: 0.5rem;
  cursor: default;
  background-color: #fff;
  height: 80vh;

  @include small {
    width: 400px;
    height: 400px;
  }

  .follow-user-modal-body {
    .follow-user-modal-header {
      border-bottom: 1px solid $margin-grey;

      div {
        flex: 1;
      }

      .modal-header-text {
        flex: 2;

        h2 {
          font-size: $font-large;
        }
      }

      .close-div {
        justify-content: flex-end;

        button {
          margin-right: 10px;
          font-size: $header-medium;
        }
      }
    }

    .follow-user-modal-content {
      overflow-y: auto;
    }
  }

  .individual-user {
    padding: 8px 16px;
    justify-content: space-between;
    cursor: pointer;

    .individual-user-left {
      .profile-picture {
        margin-right: 12px;

        img {
          height: 44px;
          width: 44px;
        }
      }

      .userinfo-div {
        a {
          text-decoration: none;
          color: black;
        }

        .username {
          font-weight: bold;
          font-size: $font-medium;
          margin-bottom: 4px;
        }
        .fullname {
          color: $content-grey;
          font-size: $font-medium;
        }
      }
    }
  }
}
