.flexContainer {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.flexAlignCenter {
  align-items: center;
}

.flexJustifyCenter {
  justify-content: center;
}

.flexGrow1 {
  flex-grow: 1;
}

.offscreen {
  position: absolute;
  left: -9999px;
}
