@import "./breakpoints.scss";
@import "./variables.scss";

.layout-styles {
  background-color: var(--background-color);
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @include small {
    flex-direction: row;
  }
}

.outlet-styles {
  overflow-y: auto;
  flex: 1;
  display: flex;
}
