@import "../breakpoints.scss";

.layout {
  background-color: #fafafa;
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @include small {
    flex-direction: row;
  }
}

.outlet {
  overflow-y: auto;
  flex: 1;
  display: flex;
}
