@import "./breakpoints.scss";
@import "./global.scss";
@import "./variables.scss";

.login-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 20px;

  .login-top,
  .login-bottom {
    padding: 10px;
    width: clamp(250px, 90%, 350px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--menu-background);
    border: 1px solid var(--margin-grey);
  }

  .login-top {
    margin-top: 1rem;

    @include small {
      margin-top: 3rem;
    }

    .login-logo {
      width: 175px;
      margin: 2rem 0;
    }

    .error-div {
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .error-msg {
        color: $error-red;
      }
    }

    .sign-up-header {
      font-size: 17px;
      color: var(--content-grey);
      width: clamp(230px, 90%, 250px);
      margin-bottom: 1rem;
    }

    .login-google-button {
      margin: 10px 0;
      padding: 10px 0;
      width: clamp(230px, 90%, 260px);
    }

    .sign-up-form {
      margin-top: 0.5rem;
    }

    .login-form,
    .sign-up-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      input {
        width: clamp(230px, 90%, 260px);
        padding: 10px 5px;
        background-color: var(--search-background-light);
        border: 1px solid var(--margin-grey);
        border-radius: 0.25rem;
        margin-bottom: 5px;
        font-family: inherit;
      }

      .form-input-div {
        position: relative;
        width: clamp(230px, 90%, 260px);
        height: 36px;
        border: 1px solid var(--margin-grey);
        border-radius: 0.25rem;
        margin-bottom: 5px;
        display: flex;

        label {
          flex: 1;
          .label-text {
            color: var(--content-grey);
            font-size: 0.8rem;
            position: absolute;
            left: 8px;
            right: 0;
            height: 36px;
            vertical-align: baseline;
            line-height: 36px;
            pointer-events: none;
            transform-origin: left;
            transition: transform ease-out 0.1s;
            font-family: inherit;
          }

          input {
            width: 100%;
            height: 100%;
            padding: 14px 0 2px 8px;
            border: none;
            outline: none;
            font-size: 0.8rem;
            font-family: inherit;
          }
        }

        .input-side-div {
          background-color: var(--search-background-light);
          padding: 0 8px;
          display: none;
          align-items: center;
          justify-content: center;
          button {
            padding: 0;
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: var(--text-color);
            font-weight: bold;
            &:hover {
              color: var(--content-grey);
              opacity: 0.5;
            }
          }

          .icon {
            display: none;
            height: 22px;
            width: 22px;
          }
        }

        &.clicked {
          border-color: var(--margin-grey-highlight);
        }

        &.active {
          label {
            .label-text {
              transform: scale(calc(10 / 12)) translateY(-10px);
            }
          }

          .input-side-div {
            display: flex;
          }
        }
        &.display-icon {
          .icon {
            display: block;
          }
        }
      }

      .form-description {
        padding: 0 10px;
        margin-bottom: 10px;
        width: clamp(230px, 90%, 260px);
        font-size: 0.8rem;
        color: $content-grey;
        animation: fadeIn 0.4s ease-in-out;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0.2;
        }
        100% {
          opacity: 1;
        }
      }

      .submit-button {
        margin: 10px 0;
        width: clamp(230px, 90%, 260px);
      }

      .loading-spinner-div {
        transform: scale(0.5);
        height: 50px;
        display: flex;
        align-items: center;
      }
    }

    .or-div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5rem;
      width: clamp(230px, 90%, 270px);

      .line {
        width: 40%;
        height: 1px;
        background-color: var(--content-grey);
        opacity: 0.7;
      }

      .or-lettering {
        margin: 0 18px;
        color: var(--content-grey);
      }
    }

    .login-google {
      margin-top: 20px;
    }

    .forgot-password {
      margin: 20px;
    }

    &.success {
      display: flex;
      min-height: min(500px, 80vh);
      justify-content: flex-start;
      padding: 0 2rem;
      gap: 1rem;

      h1 {
        font-size: $header-small;
      }

      a {
        font-weight: bold;
        color: var(--link-color);
      }
    }
  }

  .login-bottom {
    p {
      font-size: 14px;
      margin: 15px;
    }

    a {
      text-decoration: none;
      color: $button-blue;
      font-weight: bold;
    }
  }
}
