.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 13;

  .modal-overlay-close {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    pointer-events: all;

    button {
      border: none;
      background-color: transparent;
      color: #fff;
      font-size: 3rem;
      cursor: pointer;
      margin: 5px 20px;
    }
  }
}
