@import "../breakpoints.scss";
@import "./variables.scss";

.notifications-page {
  max-height: 100svh;
  max-height: 100vh;
  .notifications-container {
    background-color: var(--component-background);
    padding-top: 1rem;
    width: 95vw;
    border: 1px solid var(--margin-grey);
    border-radius: 0.25rem;
    margin-top: 1rem;
    max-height: calc(95% - 97px);

    @include small {
      width: clamp(300px, 90%, 800px);
      margin-top: 3rem;
      height: clamp(300px, 80%, 750px);
      justify-content: center;
    }

    @include medium {
      width: clamp(300px, 80%, 950px);
    }

    .header-div {
      text-align: center;
      border-bottom: 1px solid var(--margin-grey);

      h2 {
        font-size: $header-xxsmall;

        @include small {
          font-size: $header-xsmall;
        }
      }
    }

    .notifications-content {
      overflow-y: auto;
      padding: 1rem;
      flex: 1;

      .add-notifications-button-div {
        button {
          cursor: pointer;
          background-color: transparent;
          border: none;

          &:hover {
            transform: scale(1.03);
          }

          img {
            height: 24px;
            width: 24px;
          }
        }
      }

      .single-notification {
        img {
          width: 35px;
          height: 35px;
        }

        .notification-link {
          margin-bottom: 5px;
          color: var(--text-color);

          .notification-link-username {
            text-decoration: none;
            color: var(--text-color);
            font-weight: bold;
          }

          .notification-link-content {
            text-decoration: none;
            color: var(--link-color);
            font-weight: bold;
          }
        }

        .notification-date {
          color: var(--content-grey);
        }
      }
    }
  }
  .footer-container {
    .footer {
      align-items: center;
      padding: 1rem;
      margin-top: 0px;

      nav {
        justify-content: center;
      }
    }
  }
}
