.add-notifications-button-div {
  button {
    cursor: pointer;
    background-color: transparent;
    border: none;

    &:hover {
      transform: scale(1.03);
    }

    img {
      height: 24px;
      width: 24px;
    }
  }
}

.single-notification {
  a {
    color: #000;
  }
}
