@import "./breakpoints.scss";

.photo-modal-container {
  z-index: 15;
  border-radius: 0.5rem;
  border: 1px solid var(--margin-grey);
  background-color: #fff;
  min-height: 300px;
  cursor: default;
  overflow: hidden;

  @include medium {
    border-radius: 0 0.5rem 0.5rem 0;
    height: 80%;
    width: 80svw;
    width: 80vw;
  }

  .photo-modal-right {
    overflow: hidden;
  }

  .single-post-img-container {
    img {
      @include medium {
        max-height: 80vh;
      }
    }
  }
}
