@import "../breakpoints.scss";
@import "./variables.scss";

.profile-main-container {
  justify-content: space-between;

  @include small {
    margin-top: 0px;
  }

  .profile-content-container {
    max-width: 950px;

    @include small {
      width: calc(100% - 40px);
    }

    .profile-top {
      margin: 16px;

      @include small {
        padding: 30px 20px 0;
        margin-bottom: 40px;
      }

      .profile-img-div {
        overflow: hidden;
        margin-right: 30px;

        @include small {
          flex-grow: 1;
        }

        .user-profile-img {
          width: 77px;
          height: 77px;

          @include small {
            width: 150px;
            height: 150px;
          }
        }

        input {
          display: none;
        }
      }

      .user-info {
        flex-grow: 2;

        .user-info-top {
          gap: 15px;
          margin-bottom: 24px;

          @include small {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 20px;
          }

          .user-info-top-heading {
            gap: 15px;

            .user-info-username {
              font-size: $header-xsmall;
              font-weight: 400;
            }

            .options-div {
              img {
                width: 24px;
              }

              @include small {
                display: none;
              }
            }
          }

          .user-info-buttons {
            gap: 15px;

            .follow-div {
              button {
                padding: 7px 16px;
                font-weight: bold;
                border: none;
                border-radius: 0.5rem;
                font-size: $font-medium;
                background-color: $button-blue;
                color: #fff;

                &:hover {
                  background-color: $button-blue-hover-light;
                }
              }
            }

            .options-button {
              display: none;
              padding: 8px;

              @include small {
                display: block;
              }

              img {
                width: 24px;
              }
            }
          }
        }

        .user-info-middle {
          display: none;
          gap: 40px;
          margin-bottom: 20px;

          @include small {
            display: flex;
          }
          .user-figure {
            font-weight: bold;
            margin-right: 5px;
          }

          .clickable {
            cursor: pointer;
          }
        }

        .user-info-bottom {
          font-size: 14px;
          padding: 0 16px 21px;
          margin-left: -120px;

          @include small {
            margin-left: 0;
            padding: 0;
          }
          .user-fullname {
            font-weight: bold;
          }
          .user-bio {
            white-space: pre-wrap;
          }

          .user-link {
            margin-top: 5px;
            a {
              font-weight: bold;
            }
          }
        }
      }
    }

    .user-info-stats-small {
      justify-content: space-around;
      padding: 16px 0;
      border-top: 1px solid var(--margin-grey);

      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      @include small {
        display: none;
      }

      .user-figure {
        font-weight: bold;
        margin-right: 5px;
      }

      .clickable {
        cursor: pointer;
      }
    }

    .profile-bottom {
      width: 100%;
      border-top: 1px solid var(--margin-grey);

      .display-selector {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        @include mobile-small {
          gap: 25px;
        }

        @include small {
          gap: 50px;
        }

        .display-selector-individual {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          font-size: 12px;
          padding: 20px 3px;

          span {
            color: var(--content-grey);
          }

          img {
            width: 12px;
            margin-right: 5px;
            filter: var(--profile-img-filter);
          }

          &.active {
            border-top: 1px solid var(--text-color);

            span {
              color: var(--text-color);
            }

            img {
              filter: var(--profile-img-filter-dark-only);
            }
          }
        }
      }

      .profile-img-feed-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .user-posts-container {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-wrap: wrap;
          gap: 3px;

          @include small {
            gap: 28px;
          }

          .share-photo-info {
            margin: 60px 45px;
            gap: 25px;

            .camera-icon-button {
              img {
                width: 62px;
              }
            }

            h3 {
              font-size: 2rem;
            }

            .sub-text {
              font-size: $font-medium;
            }

            .bottom-upload-button {
              font-weight: bold;
              font-size: $font-medium;
              color: $button-blue;
            }
          }

          .post-card-container {
            aspect-ratio: 1 / 1;
            max-width: min(293px, 30%);
            flex: 1 1 30%;
            overflow: hidden;
            position: relative;
            cursor: pointer;

            &:focus {
              border: 1px solid #fff;
            }

            &.filler-div {
              cursor: inherit;
            }

            .post-img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }

            .hover-div {
              width: 100%;
              height: 100%;
              display: none;
              background-color: rgba(0, 0, 0, 0.3);

              .delete-btn-div,
              .tag-user-btn-div {
                .delete-btn,
                .tag-user-btn {
                  position: absolute;
                  background-color: transparent;
                  border: none;
                  z-index: 9;

                  img {
                    width: 18px;

                    @include small {
                      width: 24px;
                    }
                  }
                }

                .delete-btn {
                  top: 5px;
                  left: 5px;
                }

                .tag-user-btn {
                  top: 5px;
                  right: 5px;
                }
              }

              .icon-div {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                gap: 25px;
                z-index: 5;

                .icon-row {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 5px;
                  font-size: $font-small;
                  color: #f5f5f5;
                  font-weight: bold;

                  span {
                    color: #f5f5f5;
                  }

                  @include small {
                    font-size: $font-medium;
                  }

                  img {
                    width: 18px;
                    filter: invert(100%) sepia(6%) saturate(23%)
                      hue-rotate(161deg) brightness(106%) contrast(106%);

                    @include small {
                      width: 24px;
                    }
                  }
                }
              }

              .background {
                position: absolute;
                background-color: rgba(0, 0, 0, 0.3);
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
              }
            }

            &:hover {
              .hover-div {
                @include small {
                  display: block;
                }
              }
            }

            .delete-confirmation-overlay {
              position: fixed;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              background-color: rgba(0, 0, 0, 0.6);
              pointer-events: all;
              cursor: default;
              z-index: 13;
            }
          }
        }
      }
    }
  }

  .footer-container {
    .footer {
      align-items: center;
      margin-bottom: 75px;

      nav {
        max-width: 80%;
        justify-content: center;
      }

      @include small {
        margin-bottom: 50px;
      }
    }
  }
}

.banned-page {
  margin-top: 1rem;

  @include small {
    margin-top: 3rem;
  }
  img {
    width: 75px;
    filter: var(--profile-img-filter-dark-only);
  }
}
