@import "../breakpoints.scss";
@import "./variables.scss";

.single-post-page {
  min-height: 100%;
  width: 100%;

  .single-post-container {
    border-radius: 0.5rem;
    border: 1px solid $margin-grey;
    background-color: #fff;
    width: clamp(250px, 80%, 1000px);
    height: auto;
    min-height: 300px;
    overflow: hidden;
    cursor: default;
    margin: auto;

    @include medium {
      height: clamp(300px, 80%, 750px);
    }
  }

  @include medium {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .single-post-img-container {
    img {
      @include medium {
        max-height: min(750px, 80vh);
      }
    }
  }
}
