@import "./breakpoints.scss";
@import "./variables.scss";

.single-post-body {
  height: 100%;

  &.single-post-large-display {
    display: none;

    @include medium {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }

  &.single-post-mobile-display {
    display: flex;
    flex-direction: column;

    @include medium {
      display: none;
    }
  }

  .single-post-header {
    background-color: var(--component-background);
    @include medium {
      display: none;
    }

    .header-left {
      padding: 14px 4px 14px 16px;

      .photo-info-div {
        a {
          text-decoration: none;
          color: var(--text-color);
          font-size: $font-medium;
        }

        .photo-info-top {
          gap: 5px;
          font-weight: bold;
        }
      }

      .header-right {
        padding-right: 8px;
      }
    }
  }

  .optionButton {
    padding: 8px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .follow-button {
    padding: 0;
    color: $button-blue;
    font-weight: bold;
    font-size: $font-medium;
    background-color: transparent;
    border: none;
    &:hover {
      color: $button-blue-hover-dark;
    }
  }

  .user-img-div {
    margin-right: 1rem;
    img {
      height: 32px;
      width: 32px;
    }
  }

  .single-post-left {
    flex-grow: 1;
    min-width: 50%;
    background-color: #000;
    overflow: hidden;

    .single-post-img-container {
      overflow: hidden;

      img {
        @media screen and (max-width: 999px) {
          max-height: 40svh;
          max-height: 40vh;
          max-width: 80svw;
          max-width: 80vw;
        }

        @include medium {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
    }
  }

  .photo-modal-right {
    flex-grow: 1;
    min-width: 40%;
    justify-content: space-between;
    background-color: var(--component-background);
    border-left: 1px solid var(--margin-grey);

    .photo-modal-right-top {
      padding: 14px 8px 14px 16px;
      display: none;
      justify-content: space-between;
      border-bottom: 1px solid var(--margin-grey);

      @include medium {
        display: flex;
      }

      .photo-info-div {
        a {
          text-decoration: none;
          color: var(--text-color);
          font-size: $font-medium;
        }

        .photo-info-top {
          gap: 5px;
          font-weight: bold;
        }
      }
    }
  }

  .mobile-comments-container {
    overflow: hidden;
    height: 40svh;
    height: 40vh;
    background-color: var(--component-background);
  }

  .single-post-comments {
    padding: 1rem;
    box-sizing: content-box;
    overflow-y: scroll;
    border-top: 1px solid var(--margin-grey);

    @include medium {
      height: 100%;
      border-top: none;
    }

    .single-comment {
      display: flex;
      margin-bottom: 1rem;

      a {
        text-decoration: none;
        color: var(--text-color);
      }

      .comment-image {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-right: 18px;
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
      }

      .comment-main {
        .comment-main-top {
          font-size: $font-medium;
          .comment-username {
            font-weight: bold;
            margin-right: 5px;
          }
          .comment-body {
            white-space: pre-wrap;
            a {
              color: var(--link-color);
              font-weight: 500;
            }
          }
        }

        .comment-main-bottom {
          margin-top: 8px;
          font-size: $font-small;
          color: var(--content-grey);
        }
      }
    }
  }

  .single-post-bottom {
    border-top: 1px solid var(--margin-grey);
    background-color: var(--component-background);

    .buttons {
      padding: 6px 16px 8px;
      justify-content: space-between;

      button {
        padding: 8px;
        background-color: transparent;
        border: none;
        img {
          width: 24px;

          &.empty {
            &:hover {
              filter: invert(64%) sepia(0%) saturate(0%) hue-rotate(175deg)
                brightness(87%) contrast(98%);
            }
          }
        }
        .filled {
          &.heart {
            filter: invert(61%) sepia(68%) saturate(6105%) hue-rotate(328deg)
              brightness(94%) contrast(96%);
          }
        }
      }
    }

    .post-bottom-text {
      padding: 2px 16px;
      font-size: $font-medium;
      gap: 5px;

      .likes-counter {
        font-weight: bold;
      }

      .comment-username {
        font-weight: bold;
        margin-right: 10px;
      }

      .view-more-div {
        color: $content-grey;
        cursor: pointer;
      }

      .time-ago {
        font-size: $font-small;
        color: $font-small;

        @include medium {
          margin-bottom: 1rem;
        }
      }
    }

    .comments-toggle {
      padding: 2px 16px;
      margin-bottom: 1rem;

      button {
        font-weight: bold;
        color: $button-blue;
      }

      @include medium {
        display: none;
      }
    }

    .input-comment-div {
      width: 100%;
      height: 50px;
      border-top: 1px solid var(--margin-grey);

      form {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .input-left {
          margin-right: 12px;
          flex: 1;

          input {
            padding: 5px 16px;
            width: 100%;
            outline: none;
            border: none;
            background-color: var(--component-background);
          }
        }

        .input-right {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;

          button {
            color: $button-blue;
            font-weight: bold;

            &.disabled {
              color: $button-blue-disabled;
              cursor: default;
            }
          }
        }
      }
    }
  }
}
