$margin-grey: #cccccc;
$margin-grey-highlighted: #a8a8a8;
//Anything 8e8e8e should be this
$content-grey: #737373;
$disabled-background-grey: #fafafa;

$background-grey: #fafafa;
$background-grey-highlighted: #f5f5f5;
$background-grey-highlighted-dark: #dedede;

$search-background: #efefef;

$link-blue: #00376b;

$error-red: #ff0033;
$success-green: green;

$grey-button: #efefef;
$grey-button-hover: #cccccc;

$button-blue: #0095f6;
$button-blue-hover-light: #1877f2;
$button-blue-hover-dark: #00376b;
$button-blue-disabled: #b3d7ff;

$font-large: 1rem;
$font-medium: 0.875rem;
$font-small: 0.75rem;

$header-medium: 2rem;
$header-small: 1.5rem;
$header-xsmall: 1.3rem;
$header-xxsmall: 1.15rem;

$text-color-dark: #f5f5f5;
$text-color-light: #000;

.theme-light {
  --background-color: #fafafa;
  --component-background: #fff;
  --navbar-hover: #f5f5f5;
  --menu-background: #fff;
  --menu-hover: #f5f5f5;
  --menu-hover-dark: #dedede;
  --text-color: #000;
  --text-color-inverse: #f5f5f5;
  --margin-grey: #cccccc;
  --margin-grey-highlight: #a8a8a8;
  --search-background: #efefef;
  --search-background-light: #fff;
  --link-color: #00376b;
  --content-grey: #737373;
  --scrollbar-track: auto;
  --scrollbar-thumb: auto;
  --loading-color: #333;

  --profile-img-filter: invert(66%) sepia(0%) saturate(1247%) hue-rotate(147deg)
    brightness(85%) contrast(97%);
  --profile-img-filter-dark-only: none;
}
.theme-dark {
  --background-color: #000;
  --component-background: #000;
  --navbar-hover: #181818;
  --menu-background: #181818;
  --menu-hover: #383838;
  --menu-hover-dark: #282828;
  --text-color: #f5f5f5;
  --text-color-inverse: #000;
  --margin-grey: #282828;
  --margin-grey-highlight: #484848;
  --search-background: #181818;
  --search-background-light: #181818;
  --link-color: #87cefa;
  --content-grey: #a8a8a8;
  --scrollbar-track: #181818;
  --scrollbar-thumb: #282828;
  --loading-color: #efefef;

  --profile-img-filter: invert(97%) sepia(97%) saturate(0%) hue-rotate(330deg)
    brightness(102%) contrast(100%);
  --profile-img-filter-dark-only: invert(97%) sepia(97%) saturate(0%)
    hue-rotate(330deg) brightness(102%) contrast(100%);

  .themeable-icon {
    filter: invert(97%) sepia(97%) saturate(0%) hue-rotate(330deg)
      brightness(102%) contrast(100%);
  }
}
