$margin-grey: #cccccc;
$content-grey: #737373;
$disabled-background-grey: #fafafa;

$button-blue: #0095f6;
$button-blue-hover: #00376b;
$button-blue-disabled: #b3d7ff;

$font-medium: 0.875rem;
$font-small: 0.75rem;
