@import "../../breakpoints.scss";

.photo-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  border-radius: 0.5rem;
  background-color: #fff;
  width: 95%;
  min-height: 300px;
  cursor: default;

  @include small {
    border-radius: 0 0.5rem 0.5rem 0;
    height: 80%;
    width: 80svw;
    width: 80vw;
  }

  .photo-modal-right {
    overflow: hidden;
  }
}
